/* Primary */
$color-1: hsl(263, 55%, 52%); // Moderate violet
$color-2: hsl(217, 19%, 35%); // Very dark grayish blue
$color-3: hsl(219, 29%, 14%); // Very dark blackish blue
$color-4: hsl(0, 0%, 100%);   // white

/* Neutral */
$color-5: hsl(0, 0%, 81%); // Light gray
$color-6: hsl(210, 46%, 95%); // Light grayish blue


/* colores propios de componente 
"Verified Graduate": hsla(0, 0%, 100%, 0.5)
Review paragraphs : hsla(0, 0%, 50%, 0.7)
*/
